  #chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #chat-messages {
    flex: 1;
    width: 100%
    overflow-y: scroll;
    padding: 10px;
    background-color: #111111;
    border-radius: 10px;
  }

  #chat-messages .message {
    margin-bottom: 10px;
  }

  #chat-messages .message .user {
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
  }

  #chat-messages .message .message-text {
    color: #ccc;
  }

  #chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2f3241;/* #404258; */
    border-radius: 10px;
  }

  #chat-input input {
    flex: 1;
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #404258;/*#474E68;*/
  }

  #chat-input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
